**Reading Predicted Sale**

In [ ]:
import pandas as pd
import numpy as np
from datetime import date
from pulp import *
import itertools

In [ ]:
predict = pd.read_csv('meta_class.csv')

In [ ]:
predict.head()

,miladi-flight-date,hour,origin,destination,ticket_serial,ticket_total_price
0,2018-10-28,5,Shiraz,Tehran,1,2742000.0
1,2018-10-28,6,Tabriz,Tehran,2,2041000.0
2,2018-10-29,2,Tehran,Mashhad,1,2769500.0
3,2018-10-29,2,Urmia,Tehran,1,1882000.0
4,2018-10-29,3,Tehran,Sanandaj,1,2412000.0

In [ ]:
predict.shape

(487100, 6)

In [ ]:
predict.tail()

,miladi-flight-date,hour,origin,destination,ticket_serial,ticket_total_price
487095,2023-03-20,5,tehran,mashhad,1,10175000.0
487096,2023-03-20,6,Tehran,Dezfool,2,9230000.0
487097,2023-03-22,5,Tehran,Mashhad,1,10175000.0
487098,2023-03-31,4,kish island,tehran,4,12580250.0
487099,2023-04-01,4,kish island,tehran,2,13592000.0

**Needed Cols: date, span, origin, destination, ticket**

In [ ]:
dict_col = {'miladi-flight-date':'date',
            'hour':'span',
            'origin':'origin',
            'destination':'destination',
            'ticket_serial':'ticket'}
predict.rename(columns=dict_col, inplace=True)

**select requested span**

In [ ]:
print(f"min date: {predict['date'].min()}\nmax date: {predict['date'].max()}")

min date: 2018-10-28
max date: 2023-04-01

In [ ]:
start = '2020-01-01'
# start = input('Enter a start date in YYYY-MM-DD format: ')

In [ ]:
end = '2020-01-08'
# end = input('Enter a end date in YYYY-MM-DD format: ')

In [ ]:
slice = predict[(predict['date'] >= start) & (predict['date'] <= end)]

In [ ]:
slice

              date  span   origin   destination  ticket  ticket_total_price
121226  2020-01-01     1  Mashhad        Tehran       3        2.262000e+06
121227  2020-01-01     2    Ahvaz        Tehran      13        3.664308e+06
121228  2020-01-01     2      Bam        Tehran       4        3.679500e+06
121229  2020-01-01     2  Isfahan        Tehran      10        3.282700e+06
121230  2020-01-01     2   Kerman        Tehran       7        4.311000e+06
...            ...   ...      ...           ...     ...                 ...
124439  2020-01-08     6  Mashhad        Tehran      15        2.111333e+06
124440  2020-01-08     6   Tabriz        Tehran      23        2.327261e+06
124441  2020-01-08     6   Tehran        Kerman       1        4.071000e+06
124442  2020-01-08     6   Tehran       Mashhad       7        3.206143e+06
124443  2020-01-08     6   Tehran  Qeshm island       4        3.028750e+06

[3218 rows x 6 columns]

**preprocsess dataset**

In [ ]:
slice = slice.sort_values(['date','span'])

In [ ]:
slice['concat'] = slice['date'].astype(str) + slice['span'].astype(str)

In [ ]:
slice['time'] = pd.factorize(slice['concat'])[0]

In [ ]:
slice

,date,span,origin,destination,ticket,ticket_total_price,concat,time
121226,2020-01-01,1,Mashhad,Tehran,3,2.262000e+06,2020-01-011,0
121227,2020-01-01,2,Ahvaz,Tehran,13,3.664308e+06,2020-01-012,1
121228,2020-01-01,2,Bam,Tehran,4,3.679500e+06,2020-01-012,1
121229,2020-01-01,2,Isfahan,Tehran,10,3.282700e+06,2020-01-012,1
121230,2020-01-01,2,Kerman,Tehran,7,4.311000e+06,2020-01-012,1
...,...,...,...,...,...,...,...,...
124439,2020-01-08,6,Mashhad,Tehran,15,2.111333e+06,2020-01-086,43
124440,2020-01-08,6,Tabriz,Tehran,23,2.327261e+06,2020-01-086,43
124441,2020-01-08,6,Tehran,Kerman,1,4.071000e+06,2020-01-086,43
124442,2020-01-08,6,Tehran,Mashhad,7,3.206143e+06,2020-01-086,43
124443,2020-01-08,6,Tehran,Qeshm island,4,3.028750e+06,2020-01-086,43

In [ ]:
slice = slice.groupby(['time','origin','destination']).agg({'ticket':sum,'date':min,'span':min}).reset_index()

**initialize class**

In [ ]:
model = LpProblem('Maximize_Sale', LpMaximize)

In [ ]:
times = predict['time'].unique().tolist()

In [ ]:
cities = np.unique(predict[['origin', 'destination']].values).tolist()

**creat all combinations**

In [ ]:
cities_combination = list(itertools.combinations_with_replacement(cities, 2))

In [ ]:
all_combination = list(itertools.product(cities_combination, times))

In [ ]:
df = pd.DataFrame(all_combination,columns=['path','time'])

In [ ]:
df[['origin','destination']] = pd.DataFrame(df["path"].to_list())

In [ ]:
merge = df.merge(predict, on=['origin','destination','time'], how='left')

In [ ]:
merge['ticket'] = merge['ticket'].fillna(0)

**parameter of our modeling**

In [ ]:
weight = merge[['time','origin', 'destination','ticket']]

In [ ]:
weight_dict = weight.to_dict('records')

**define decision variables**

In [ ]:
x = LpVariable.dicts('x',[(i,j,t) for i in cities for j in cities for t in times], cat = 'Binary')

**objective function**

In [ ]:
model += lpSum([weight[(weight['time']==t) & (weight['origin']==i) & (weight['destination']==j)].ticket.values
                * x[(i,j,t)] for i in cities for j in cities for t in times])

**define constraints**

1 - connected route

In [ ]:
for t in times[:-1]:
  for j in cities:
    model += lpSum([x[i,j,t] for i in cities]) == lpSum([x[j,k,t+1] for k in cities])

2 - only 1 travel for each span

In [ ]:
for t in times:
  model += lpSum([x[i,j,t] for i in cities for j in cities]) == 1

3 - self loop is not allowed

In [ ]:
for t in times:
  model += lpSum([x[i,i,t] for i in cities]) == 0

**solve model**

In [ ]:
model.solve()

Welcome to the CBC MILP Solver
Version: 2.10.3
Build Date: Dec 15 2019

command line - /Library/Frameworks/Python.framework/Versions/3.9/lib/python3.9/site-packages/pulp/solverdir/cbc/osx/64/cbc /var/folders/06/v5w2n0q54sz8wd7kwgqc3j280000gn/T/969682782b0047219dcd7808907b2f12-pulp.mps max timeMode elapsed branch printingOptions all solution /var/folders/06/v5w2n0q54sz8wd7kwgqc3j280000gn/T/969682782b0047219dcd7808907b2f12-pulp.sol (default strategy 1)
At line 2 NAME          MODEL
At line 3 ROWS
At line 2373 COLUMNS
At line 709712 RHS
At line 712081 BOUNDS
At line 831058 ENDATA
Problem MODEL has 2368 rows, 118976 columns and 468252 elements
Coin0008I MODEL read with 0 errors
Option for timeMode changed from cpu to elapsed
Continuous objective value is 1250 - 0.46 seconds
Cgl0002I 2288 variables fixed
Cgl0004I processed model has 2280 rows, 109508 columns (109508 integer (109508 of which binary)) and 433704 elements
Cutoff increment increased from 1e-05 to 0.9999
Cbc0038I Initial state - 0 integers unsatisfied sum - 0
Cbc0038I Solution found of -1250
Cbc0038I Before mini branch and bound, 109508 integers at bound fixed and 0 continuous
Cbc0038I Mini branch and bound did not improve solution (1.39 seconds)
Cbc0038I After 1.39 seconds - Feasibility pump exiting with objective of -1250 - took 0.08 seconds
Cbc0012I Integer solution of -1250 found by feasibility pump after 0 iterations and 0 nodes (1.40 seconds)
Cbc0001I Search completed - best objective -1250, took 0 iterations and 0 nodes (1.42 seconds)
Cbc0035I Maximum depth 0, 0 variables fixed on reduced cost
Cuts at root node changed objective from -1250 to -1250
Probing was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Gomory was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Knapsack was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
Clique was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
MixedIntegerRounding2 was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
FlowCover was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
TwoMirCuts was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)
ZeroHalf was tried 0 times and created 0 cuts of which 0 were active after adding rounds of cuts (0.000 seconds)

Result - Optimal solution found

Objective value:                1250.00000000
Enumerated nodes:               0
Total iterations:               0
Time (CPU seconds):             1.35
Time (Wallclock seconds):       1.51

Option for printingOptions changed from normal to all
Total time (CPU seconds):       1.67   (Wallclock seconds):       1.89

1

In [ ]:
print('status:', LpStatus[model.status])

status: Optimal

In [ ]:
model.variables()

[x_('Abadan',_'Abadan',_0),
 x_('Abadan',_'Abadan',_1),
 x_('Abadan',_'Abadan',_10),
 x_('Abadan',_'Abadan',_11),
 x_('Abadan',_'Abadan',_12),
 x_('Abadan',_'Abadan',_13),
 x_('Abadan',_'Abadan',_14),
 x_('Abadan',_'Abadan',_15),
 x_('Abadan',_'Abadan',_16),
 x_('Abadan',_'Abadan',_17),
 x_('Abadan',_'Abadan',_18),
 x_('Abadan',_'Abadan',_19),
 x_('Abadan',_'Abadan',_2),
 x_('Abadan',_'Abadan',_20),
 x_('Abadan',_'Abadan',_21),
 x_('Abadan',_'Abadan',_22),
 x_('Abadan',_'Abadan',_23),
 x_('Abadan',_'Abadan',_24),
 x_('Abadan',_'Abadan',_25),
 x_('Abadan',_'Abadan',_26),
 x_('Abadan',_'Abadan',_27),
 x_('Abadan',_'Abadan',_28),
 x_('Abadan',_'Abadan',_29),
 x_('Abadan',_'Abadan',_3),
 x_('Abadan',_'Abadan',_30),
 x_('Abadan',_'Abadan',_31),
 x_('Abadan',_'Abadan',_32),
 x_('Abadan',_'Abadan',_33),
 x_('Abadan',_'Abadan',_34),
 x_('Abadan',_'Abadan',_35),
 x_('Abadan',_'Abadan',_36),
 x_('Abadan',_'Abadan',_37),
 x_('Abadan',_'Abadan',_38),
 x_('Abadan',_'Abadan',_39),
 x_('Abadan',_'Abadan',_4),
 x_('Abadan',_'Abadan',_40),
 x_('Abadan',_'Abadan',_41),
 x_('Abadan',_'Abadan',_42),
 x_('Abadan',_'Abadan',_43),
 x_('Abadan',_'Abadan',_5),
 x_('Abadan',_'Abadan',_6),
 x_('Abadan',_'Abadan',_7),
 x_('Abadan',_'Abadan',_8),
 x_('Abadan',_'Abadan',_9),
 x_('Abadan',_'Ahvaz',_0),
 x_('Abadan',_'Ahvaz',_1),
 x_('Abadan',_'Ahvaz',_10),
 x_('Abadan',_'Ahvaz',_11),
 x_('Abadan',_'Ahvaz',_12),
 x_('Abadan',_'Ahvaz',_13),
 x_('Abadan',_'Ahvaz',_14),
 x_('Abadan',_'Ahvaz',_15),
 x_('Abadan',_'Ahvaz',_16),
 x_('Abadan',_'Ahvaz',_17),
 x_('Abadan',_'Ahvaz',_18),
 x_('Abadan',_'Ahvaz',_19),
 x_('Abadan',_'Ahvaz',_2),
 x_('Abadan',_'Ahvaz',_20),
 x_('Abadan',_'Ahvaz',_21),
 x_('Abadan',_'Ahvaz',_22),
 x_('Abadan',_'Ahvaz',_23),
 x_('Abadan',_'Ahvaz',_24),
 x_('Abadan',_'Ahvaz',_25),
 x_('Abadan',_'Ahvaz',_26),
 x_('Abadan',_'Ahvaz',_27),
 x_('Abadan',_'Ahvaz',_28),
 x_('Abadan',_'Ahvaz',_29),
 x_('Abadan',_'Ahvaz',_3),
 x_('Abadan',_'Ahvaz',_30),
 x_('Abadan',_'Ahvaz',_31),
 x_('Abadan',_'Ahvaz',_32),
 x_('Abadan',_'Ahvaz',_33),
 x_('Abadan',_'Ahvaz',_34),
 x_('Abadan',_'Ahvaz',_35),
 x_('Abadan',_'Ahvaz',_36),
 x_('Abadan',_'Ahvaz',_37),
 x_('Abadan',_'Ahvaz',_38),
 x_('Abadan',_'Ahvaz',_39),
 x_('Abadan',_'Ahvaz',_4),
 x_('Abadan',_'Ahvaz',_40),
 x_('Abadan',_'Ahvaz',_41),
 x_('Abadan',_'Ahvaz',_42),
 x_('Abadan',_'Ahvaz',_43),
 x_('Abadan',_'Ahvaz',_5),
 x_('Abadan',_'Ahvaz',_6),
 x_('Abadan',_'Ahvaz',_7),
 x_('Abadan',_'Ahvaz',_8),
 x_('Abadan',_'Ahvaz',_9),
 x_('Abadan',_'Ardabil',_0),
 x_('Abadan',_'Ardabil',_1),
 x_('Abadan',_'Ardabil',_10),
 x_('Abadan',_'Ardabil',_11),
 x_('Abadan',_'Ardabil',_12),
 x_('Abadan',_'Ardabil',_13),
 x_('Abadan',_'Ardabil',_14),
 x_('Abadan',_'Ardabil',_15),
 x_('Abadan',_'Ardabil',_16),
 x_('Abadan',_'Ardabil',_17),
 x_('Abadan',_'Ardabil',_18),
 x_('Abadan',_'Ardabil',_19),
 x_('Abadan',_'Ardabil',_2),
 x_('Abadan',_'Ardabil',_20),
 x_('Abadan',_'Ardabil',_21),
 x_('Abadan',_'Ardabil',_22),
 x_('Abadan',_'Ardabil',_23),
 x_('Abadan',_'Ardabil',_24),
 x_('Abadan',_'Ardabil',_25),
 x_('Abadan',_'Ardabil',_26),
 x_('Abadan',_'Ardabil',_27),
 x_('Abadan',_'Ardabil',_28),
 x_('Abadan',_'Ardabil',_29),
 x_('Abadan',_'Ardabil',_3),
 x_('Abadan',_'Ardabil',_30),
 x_('Abadan',_'Ardabil',_31),
 x_('Abadan',_'Ardabil',_32),
 x_('Abadan',_'Ardabil',_33),
 x_('Abadan',_'Ardabil',_34),
 x_('Abadan',_'Ardabil',_35),
 x_('Abadan',_'Ardabil',_36),
 x_('Abadan',_'Ardabil',_37),
 x_('Abadan',_'Ardabil',_38),
 x_('Abadan',_'Ardabil',_39),
 x_('Abadan',_'Ardabil',_4),
 x_('Abadan',_'Ardabil',_40),
 x_('Abadan',_'Ardabil',_41),
 x_('Abadan',_'Ardabil',_42),
 x_('Abadan',_'Ardabil',_43),
 x_('Abadan',_'Ardabil',_5),
 x_('Abadan',_'Ardabil',_6),
 x_('Abadan',_'Ardabil',_7),
 x_('Abadan',_'Ardabil',_8),
 x_('Abadan',_'Ardabil',_9),
 x_('Abadan',_'Asalooye',_0),
 x_('Abadan',_'Asalooye',_1),
 x_('Abadan',_'Asalooye',_10),
 x_('Abadan',_'Asalooye',_11),
 x_('Abadan',_'Asalooye',_12),
 x_('Abadan',_'Asalooye',_13),
 x_('Abadan',_'Asalooye',_14),
 x_('Abadan',_'Asalooye',_15),
 x_('Abadan',_'Asalooye',_16),
 x_('Abadan',_'Asalooye',_17),
 x_('Abadan',_'Asalooye',_18),
 x_('Abadan',_'Asalooye',_19),
 x_('Abadan',_'Asalooye',_2),
 x_('Abadan',_'Asalooye',_20),
 x_('Abadan',_'Asalooye',_21),
 x_('Abadan',_'Asalooye',_22),
 x_('Abadan',_'Asalooye',_23),
 x_('Abadan',_'Asalooye',_24),
 x_('Abadan',_'Asalooye',_25),
 x_('Abadan',_'Asalooye',_26),
 x_('Abadan',_'Asalooye',_27),
 x_('Abadan',_'Asalooye',_28),
 x_('Abadan',_'Asalooye',_29),
 x_('Abadan',_'Asalooye',_3),
 x_('Abadan',_'Asalooye',_30),
 x_('Abadan',_'Asalooye',_31),
 x_('Abadan',_'Asalooye',_32),
 x_('Abadan',_'Asalooye',_33),
 x_('Abadan',_'Asalooye',_34),
 x_('Abadan',_'Asalooye',_35),
 x_('Abadan',_'Asalooye',_36),
 x_('Abadan',_'Asalooye',_37),
 x_('Abadan',_'Asalooye',_38),
 x_('Abadan',_'Asalooye',_39),
 x_('Abadan',_'Asalooye',_4),
 x_('Abadan',_'Asalooye',_40),
 x_('Abadan',_'Asalooye',_41),
 x_('Abadan',_'Asalooye',_42),
 x_('Abadan',_'Asalooye',_43),
 x_('Abadan',_'Asalooye',_5),
 x_('Abadan',_'Asalooye',_6),
 x_('Abadan',_'Asalooye',_7),
 x_('Abadan',_'Asalooye',_8),
 x_('Abadan',_'Asalooye',_9),
 x_('Abadan',_'Bam',_0),
 x_('Abadan',_'Bam',_1),
 x_('Abadan',_'Bam',_10),
 x_('Abadan',_'Bam',_11),
 x_('Abadan',_'Bam',_12),
 x_('Abadan',_'Bam',_13),
 x_('Abadan',_'Bam',_14),
 x_('Abadan',_'Bam',_15),
 x_('Abadan',_'Bam',_16),
 x_('Abadan',_'Bam',_17),
 x_('Abadan',_'Bam',_18),
 x_('Abadan',_'Bam',_19),
 x_('Abadan',_'Bam',_2),
 x_('Abadan',_'Bam',_20),
 x_('Abadan',_'Bam',_21),
 x_('Abadan',_'Bam',_22),
 x_('Abadan',_'Bam',_23),
 x_('Abadan',_'Bam',_24),
 x_('Abadan',_'Bam',_25),
 x_('Abadan',_'Bam',_26),
 x_('Abadan',_'Bam',_27),
 x_('Abadan',_'Bam',_28),
 x_('Abadan',_'Bam',_29),
 x_('Abadan',_'Bam',_3),
 x_('Abadan',_'Bam',_30),
 x_('Abadan',_'Bam',_31),
 x_('Abadan',_'Bam',_32),
 x_('Abadan',_'Bam',_33),
 x_('Abadan',_'Bam',_34),
 x_('Abadan',_'Bam',_35),
 x_('Abadan',_'Bam',_36),
 x_('Abadan',_'Bam',_37),
 x_('Abadan',_'Bam',_38),
 x_('Abadan',_'Bam',_39),
 x_('Abadan',_'Bam',_4),
 x_('Abadan',_'Bam',_40),
 x_('Abadan',_'Bam',_41),
 x_('Abadan',_'Bam',_42),
 x_('Abadan',_'Bam',_43),
 x_('Abadan',_'Bam',_5),
 x_('Abadan',_'Bam',_6),
 x_('Abadan',_'Bam',_7),
 x_('Abadan',_'Bam',_8),
 x_('Abadan',_'Bam',_9),
 x_('Abadan',_'Bandar_e_abbas',_0),
 x_('Abadan',_'Bandar_e_abbas',_1),
 x_('Abadan',_'Bandar_e_abbas',_10),
 x_('Abadan',_'Bandar_e_abbas',_11),
 x_('Abadan',_'Bandar_e_abbas',_12),
 x_('Abadan',_'Bandar_e_abbas',_13),
 x_('Abadan',_'Bandar_e_abbas',_14),
 x_('Abadan',_'Bandar_e_abbas',_15),
 x_('Abadan',_'Bandar_e_abbas',_16),
 x_('Abadan',_'Bandar_e_abbas',_17),
 x_('Abadan',_'Bandar_e_abbas',_18),
 x_('Abadan',_'Bandar_e_abbas',_19),
 x_('Abadan',_'Bandar_e_abbas',_2),
 x_('Abadan',_'Bandar_e_abbas',_20),
 x_('Abadan',_'Bandar_e_abbas',_21),
 x_('Abadan',_'Bandar_e_abbas',_22),
 x_('Abadan',_'Bandar_e_abbas',_23),
 x_('Abadan',_'Bandar_e_abbas',_24),
 x_('Abadan',_'Bandar_e_abbas',_25),
 x_('Abadan',_'Bandar_e_abbas',_26),
 x_('Abadan',_'Bandar_e_abbas',_27),
 x_('Abadan',_'Bandar_e_abbas',_28),
 x_('Abadan',_'Bandar_e_abbas',_29),
 x_('Abadan',_'Bandar_e_abbas',_3),
 x_('Abadan',_'Bandar_e_abbas',_30),
 x_('Abadan',_'Bandar_e_abbas',_31),
 x_('Abadan',_'Bandar_e_abbas',_32),
 x_('Abadan',_'Bandar_e_abbas',_33),
 x_('Abadan',_'Bandar_e_abbas',_34),
 x_('Abadan',_'Bandar_e_abbas',_35),
 x_('Abadan',_'Bandar_e_abbas',_36),
 x_('Abadan',_'Bandar_e_abbas',_37),
 x_('Abadan',_'Bandar_e_abbas',_38),
 x_('Abadan',_'Bandar_e_abbas',_39),
 x_('Abadan',_'Bandar_e_abbas',_4),
 x_('Abadan',_'Bandar_e_abbas',_40),
 x_('Abadan',_'Bandar_e_abbas',_41),
 x_('Abadan',_'Bandar_e_abbas',_42),
 x_('Abadan',_'Bandar_e_abbas',_43),
 x_('Abadan',_'Bandar_e_abbas',_5),
 x_('Abadan',_'Bandar_e_abbas',_6),
 x_('Abadan',_'Bandar_e_abbas',_7),
 x_('Abadan',_'Bandar_e_abbas',_8),
 x_('Abadan',_'Bandar_e_abbas',_9),
 x_('Abadan',_'Bandar_e_bushehr',_0),
 x_('Abadan',_'Bandar_e_bushehr',_1),
 x_('Abadan',_'Bandar_e_bushehr',_10),
 x_('Abadan',_'Bandar_e_bushehr',_11),
 x_('Abadan',_'Bandar_e_bushehr',_12),
 x_('Abadan',_'Bandar_e_bushehr',_13),
 x_('Abadan',_'Bandar_e_bushehr',_14),
 x_('Abadan',_'Bandar_e_bushehr',_15),
 x_('Abadan',_'Bandar_e_bushehr',_16),
 x_('Abadan',_'Bandar_e_bushehr',_17),
 x_('Abadan',_'Bandar_e_bushehr',_18),
 x_('Abadan',_'Bandar_e_bushehr',_19),
 x_('Abadan',_'Bandar_e_bushehr',_2),
 x_('Abadan',_'Bandar_e_bushehr',_20),
 x_('Abadan',_'Bandar_e_bushehr',_21),
 x_('Abadan',_'Bandar_e_bushehr',_22),
 x_('Abadan',_'Bandar_e_bushehr',_23),
 x_('Abadan',_'Bandar_e_bushehr',_24),
 x_('Abadan',_'Bandar_e_bushehr',_25),
 x_('Abadan',_'Bandar_e_bushehr',_26),
 x_('Abadan',_'Bandar_e_bushehr',_27),
 x_('Abadan',_'Bandar_e_bushehr',_28),
 x_('Abadan',_'Bandar_e_bushehr',_29),
 x_('Abadan',_'Bandar_e_bushehr',_3),
 x_('Abadan',_'Bandar_e_bushehr',_30),
 x_('Abadan',_'Bandar_e_bushehr',_31),
 x_('Abadan',_'Bandar_e_bushehr',_32),
 x_('Abadan',_'Bandar_e_bushehr',_33),
 x_('Abadan',_'Bandar_e_bushehr',_34),
 x_('Abadan',_'Bandar_e_bushehr',_35),
 x_('Abadan',_'Bandar_e_bushehr',_36),
 x_('Abadan',_'Bandar_e_bushehr',_37),
 x_('Abadan',_'Bandar_e_bushehr',_38),
 x_('Abadan',_'Bandar_e_bushehr',_39),
 x_('Abadan',_'Bandar_e_bushehr',_4),
 x_('Abadan',_'Bandar_e_bushehr',_40),
 x_('Abadan',_'Bandar_e_bushehr',_41),
 x_('Abadan',_'Bandar_e_bushehr',_42),
 x_('Abadan',_'Bandar_e_bushehr',_43),
 x_('Abadan',_'Bandar_e_bushehr',_5),
 x_('Abadan',_'Bandar_e_bushehr',_6),
 x_('Abadan',_'Bandar_e_bushehr',_7),
 x_('Abadan',_'Bandar_e_bushehr',_8),
 x_('Abadan',_'Bandar_e_bushehr',_9),
 x_('Abadan',_'Bandar_e_chabahar',_0),
 x_('Abadan',_'Bandar_e_chabahar',_1),
 x_('Abadan',_'Bandar_e_chabahar',_10),
 x_('Abadan',_'Bandar_e_chabahar',_11),
 x_('Abadan',_'Bandar_e_chabahar',_12),
 x_('Abadan',_'Bandar_e_chabahar',_13),
 x_('Abadan',_'Bandar_e_chabahar',_14),
 x_('Abadan',_'Bandar_e_chabahar',_15),
 x_('Abadan',_'Bandar_e_chabahar',_16),
 x_('Abadan',_'Bandar_e_chabahar',_17),
 x_('Abadan',_'Bandar_e_chabahar',_18),
 x_('Abadan',_'Bandar_e_chabahar',_19),
 x_('Abadan',_'Bandar_e_chabahar',_2),
 x_('Abadan',_'Bandar_e_chabahar',_20),
 x_('Abadan',_'Bandar_e_chabahar',_21),
 x_('Abadan',_'Bandar_e_chabahar',_22),
 x_('Abadan',_'Bandar_e_chabahar',_23),
 x_('Abadan',_'Bandar_e_chabahar',_24),
 x_('Abadan',_'Bandar_e_chabahar',_25),
 x_('Abadan',_'Bandar_e_chabahar',_26),
 x_('Abadan',_'Bandar_e_chabahar',_27),
 x_('Abadan',_'Bandar_e_chabahar',_28),
 x_('Abadan',_'Bandar_e_chabahar',_29),
 x_('Abadan',_'Bandar_e_chabahar',_3),
 x_('Abadan',_'Bandar_e_chabahar',_30),
 x_('Abadan',_'Bandar_e_chabahar',_31),
 x_('Abadan',_'Bandar_e_chabahar',_32),
 x_('Abadan',_'Bandar_e_chabahar',_33),
 x_('Abadan',_'Bandar_e_chabahar',_34),
 x_('Abadan',_'Bandar_e_chabahar',_35),
 x_('Abadan',_'Bandar_e_chabahar',_36),
 x_('Abadan',_'Bandar_e_chabahar',_37),
 x_('Abadan',_'Bandar_e_chabahar',_38),
 x_('Abadan',_'Bandar_e_chabahar',_39),
 x_('Abadan',_'Bandar_e_chabahar',_4),
 x_('Abadan',_'Bandar_e_chabahar',_40),
 x_('Abadan',_'Bandar_e_chabahar',_41),
 x_('Abadan',_'Bandar_e_chabahar',_42),
 x_('Abadan',_'Bandar_e_chabahar',_43),
 x_('Abadan',_'Bandar_e_chabahar',_5),
 x_('Abadan',_'Bandar_e_chabahar',_6),
 x_('Abadan',_'Bandar_e_chabahar',_7),
 x_('Abadan',_'Bandar_e_chabahar',_8),
 x_('Abadan',_'Bandar_e_chabahar',_9),
 x_('Abadan',_'Bandar_e_lenge',_0),
 x_('Abadan',_'Bandar_e_lenge',_1),
 x_('Abadan',_'Bandar_e_lenge',_10),
 x_('Abadan',_'Bandar_e_lenge',_11),
 x_('Abadan',_'Bandar_e_lenge',_12),
 x_('Abadan',_'Bandar_e_lenge',_13),
 x_('Abadan',_'Bandar_e_lenge',_14),
 x_('Abadan',_'Bandar_e_lenge',_15),
 x_('Abadan',_'Bandar_e_lenge',_16),
 x_('Abadan',_'Bandar_e_lenge',_17),
 x_('Abadan',_'Bandar_e_lenge',_18),
 x_('Abadan',_'Bandar_e_lenge',_19),
 x_('Abadan',_'Bandar_e_lenge',_2),
 x_('Abadan',_'Bandar_e_lenge',_20),
 x_('Abadan',_'Bandar_e_lenge',_21),
 x_('Abadan',_'Bandar_e_lenge',_22),
 x_('Abadan',_'Bandar_e_lenge',_23),
 x_('Abadan',_'Bandar_e_lenge',_24),
 x_('Abadan',_'Bandar_e_lenge',_25),
 x_('Abadan',_'Bandar_e_lenge',_26),
 x_('Abadan',_'Bandar_e_lenge',_27),
 x_('Abadan',_'Bandar_e_lenge',_28),
 x_('Abadan',_'Bandar_e_lenge',_29),
 x_('Abadan',_'Bandar_e_lenge',_3),
 x_('Abadan',_'Bandar_e_lenge',_30),
 x_('Abadan',_'Bandar_e_lenge',_31),
 x_('Abadan',_'Bandar_e_lenge',_32),
 x_('Abadan',_'Bandar_e_lenge',_33),
 x_('Abadan',_'Bandar_e_lenge',_34),
 x_('Abadan',_'Bandar_e_lenge',_35),
 x_('Abadan',_'Bandar_e_lenge',_36),
 x_('Abadan',_'Bandar_e_lenge',_37),
 x_('Abadan',_'Bandar_e_lenge',_38),
 x_('Abadan',_'Bandar_e_lenge',_39),
 x_('Abadan',_'Bandar_e_lenge',_4),
 x_('Abadan',_'Bandar_e_lenge',_40),
 x_('Abadan',_'Bandar_e_lenge',_41),
 x_('Abadan',_'Bandar_e_lenge',_42),
 x_('Abadan',_'Bandar_e_lenge',_43),
 x_('Abadan',_'Bandar_e_lenge',_5),
 x_('Abadan',_'Bandar_e_lenge',_6),
 x_('Abadan',_'Bandar_e_lenge',_7),
 x_('Abadan',_'Bandar_e_lenge',_8),
 x_('Abadan',_'Bandar_e_lenge',_9),
 x_('Abadan',_'Bandar_e_mahshahr',_0),
 x_('Abadan',_'Bandar_e_mahshahr',_1),
 x_('Abadan',_'Bandar_e_mahshahr',_10),
 x_('Abadan',_'Bandar_e_mahshahr',_11),
 x_('Abadan',_'Bandar_e_mahshahr',_12),
 x_('Abadan',_'Bandar_e_mahshahr',_13),
 x_('Abadan',_'Bandar_e_mahshahr',_14),
 x_('Abadan',_'Bandar_e_mahshahr',_15),
 x_('Abadan',_'Bandar_e_mahshahr',_16),
 x_('Abadan',_'Bandar_e_mahshahr',_17),
 x_('Abadan',_'Bandar_e_mahshahr',_18),
 x_('Abadan',_'Bandar_e_mahshahr',_19),
 x_('Abadan',_'Bandar_e_mahshahr',_2),
 x_('Abadan',_'Bandar_e_mahshahr',_20),
 x_('Abadan',_'Bandar_e_mahshahr',_21),
 x_('Abadan',_'Bandar_e_mahshahr',_22),
 x_('Abadan',_'Bandar_e_mahshahr',_23),
 x_('Abadan',_'Bandar_e_mahshahr',_24),
 x_('Abadan',_'Bandar_e_mahshahr',_25),
 x_('Abadan',_'Bandar_e_mahshahr',_26),
 x_('Abadan',_'Bandar_e_mahshahr',_27),
 x_('Abadan',_'Bandar_e_mahshahr',_28),
 x_('Abadan',_'Bandar_e_mahshahr',_29),
 x_('Abadan',_'Bandar_e_mahshahr',_3),
 x_('Abadan',_'Bandar_e_mahshahr',_30),
 x_('Abadan',_'Bandar_e_mahshahr',_31),
 x_('Abadan',_'Bandar_e_mahshahr',_32),
 x_('Abadan',_'Bandar_e_mahshahr',_33),
 x_('Abadan',_'Bandar_e_mahshahr',_34),
 x_('Abadan',_'Bandar_e_mahshahr',_35),
 x_('Abadan',_'Bandar_e_mahshahr',_36),
 x_('Abadan',_'Bandar_e_mahshahr',_37),
 x_('Abadan',_'Bandar_e_mahshahr',_38),
 x_('Abadan',_'Bandar_e_mahshahr',_39),
 x_('Abadan',_'Bandar_e_mahshahr',_4),
 x_('Abadan',_'Bandar_e_mahshahr',_40),
 x_('Abadan',_'Bandar_e_mahshahr',_41),
 x_('Abadan',_'Bandar_e_mahshahr',_42),
 x_('Abadan',_'Bandar_e_mahshahr',_43),
 x_('Abadan',_'Bandar_e_mahshahr',_5),
 x_('Abadan',_'Bandar_e_mahshahr',_6),
 x_('Abadan',_'Bandar_e_mahshahr',_7),
 x_('Abadan',_'Bandar_e_mahshahr',_8),
 x_('Abadan',_'Bandar_e_mahshahr',_9),
 x_('Abadan',_'Birjand',_0),
 x_('Abadan',_'Birjand',_1),
 x_('Abadan',_'Birjand',_10),
 x_('Abadan',_'Birjand',_11),
 x_('Abadan',_'Birjand',_12),
 x_('Abadan',_'Birjand',_13),
 x_('Abadan',_'Birjand',_14),
 x_('Abadan',_'Birjand',_15),
 x_('Abadan',_'Birjand',_16),
 x_('Abadan',_'Birjand',_17),
 x_('Abadan',_'Birjand',_18),
 x_('Abadan',_'Birjand',_19),
 x_('Abadan',_'Birjand',_2),
 x_('Abadan',_'Birjand',_20),
 x_('Abadan',_'Birjand',_21),
 x_('Abadan',_'Birjand',_22),
 x_('Abadan',_'Birjand',_23),
 x_('Abadan',_'Birjand',_24),
 x_('Abadan',_'Birjand',_25),
 x_('Abadan',_'Birjand',_26),
 x_('Abadan',_'Birjand',_27),
 x_('Abadan',_'Birjand',_28),
 x_('Abadan',_'Birjand',_29),
 x_('Abadan',_'Birjand',_3),
 x_('Abadan',_'Birjand',_30),
 x_('Abadan',_'Birjand',_31),
 x_('Abadan',_'Birjand',_32),
 x_('Abadan',_'Birjand',_33),
 x_('Abadan',_'Birjand',_34),
 x_('Abadan',_'Birjand',_35),
 x_('Abadan',_'Birjand',_36),
 x_('Abadan',_'Birjand',_37),
 x_('Abadan',_'Birjand',_38),
 x_('Abadan',_'Birjand',_39),
 x_('Abadan',_'Birjand',_4),
 x_('Abadan',_'Birjand',_40),
 x_('Abadan',_'Birjand',_41),
 x_('Abadan',_'Birjand',_42),
 x_('Abadan',_'Birjand',_43),
 x_('Abadan',_'Birjand',_5),
 x_('Abadan',_'Birjand',_6),
 x_('Abadan',_'Birjand',_7),
 x_('Abadan',_'Birjand',_8),
 x_('Abadan',_'Birjand',_9),
 x_('Abadan',_'Bojnourd',_0),
 x_('Abadan',_'Bojnourd',_1),
 x_('Abadan',_'Bojnourd',_10),
 x_('Abadan',_'Bojnourd',_11),
 x_('Abadan',_'Bojnourd',_12),
 x_('Abadan',_'Bojnourd',_13),
 x_('Abadan',_'Bojnourd',_14),
 x_('Abadan',_'Bojnourd',_15),
 x_('Abadan',_'Bojnourd',_16),
 x_('Abadan',_'Bojnourd',_17),
 x_('Abadan',_'Bojnourd',_18),
 x_('Abadan',_'Bojnourd',_19),
 x_('Abadan',_'Bojnourd',_2),
 x_('Abadan',_'Bojnourd',_20),
 x_('Abadan',_'Bojnourd',_21),
 x_('Abadan',_'Bojnourd',_22),
 x_('Abadan',_'Bojnourd',_23),
 x_('Abadan',_'Bojnourd',_24),
 x_('Abadan',_'Bojnourd',_25),
 x_('Abadan',_'Bojnourd',_26),
 x_('Abadan',_'Bojnourd',_27),
 x_('Abadan',_'Bojnourd',_28),
 x_('Abadan',_'Bojnourd',_29),
 x_('Abadan',_'Bojnourd',_3),
 x_('Abadan',_'Bojnourd',_30),
 x_('Abadan',_'Bojnourd',_31),
 x_('Abadan',_'Bojnourd',_32),
 x_('Abadan',_'Bojnourd',_33),
 x_('Abadan',_'Bojnourd',_34),
 x_('Abadan',_'Bojnourd',_35),
 x_('Abadan',_'Bojnourd',_36),
 x_('Abadan',_'Bojnourd',_37),
 x_('Abadan',_'Bojnourd',_38),
 x_('Abadan',_'Bojnourd',_39),
 x_('Abadan',_'Bojnourd',_4),
 x_('Abadan',_'Bojnourd',_40),
 x_('Abadan',_'Bojnourd',_41),
 x_('Abadan',_'Bojnourd',_42),
 x_('Abadan',_'Bojnourd',_43),
 x_('Abadan',_'Bojnourd',_5),
 x_('Abadan',_'Bojnourd',_6),
 x_('Abadan',_'Bojnourd',_7),
 x_('Abadan',_'Bojnourd',_8),
 x_('Abadan',_'Bojnourd',_9),
 x_('Abadan',_'Dezfool',_0),
 x_('Abadan',_'Dezfool',_1),
 x_('Abadan',_'Dezfool',_10),
 x_('Abadan',_'Dezfool',_11),
 x_('Abadan',_'Dezfool',_12),
 x_('Abadan',_'Dezfool',_13),
 x_('Abadan',_'Dezfool',_14),
 x_('Abadan',_'Dezfool',_15),
 x_('Abadan',_'Dezfool',_16),
 x_('Abadan',_'Dezfool',_17),
 x_('Abadan',_'Dezfool',_18),
 x_('Abadan',_'Dezfool',_19),
 x_('Abadan',_'Dezfool',_2),
 x_('Abadan',_'Dezfool',_20),
 x_('Abadan',_'Dezfool',_21),
 x_('Abadan',_'Dezfool',_22),
 x_('Abadan',_'Dezfool',_23),
 x_('Abadan',_'Dezfool',_24),
 x_('Abadan',_'Dezfool',_25),
 x_('Abadan',_'Dezfool',_26),
 x_('Abadan',_'Dezfool',_27),
 x_('Abadan',_'Dezfool',_28),
 x_('Abadan',_'Dezfool',_29),
 x_('Abadan',_'Dezfool',_3),
 x_('Abadan',_'Dezfool',_30),
 x_('Abadan',_'Dezfool',_31),
 x_('Abadan',_'Dezfool',_32),
 x_('Abadan',_'Dezfool',_33),
 x_('Abadan',_'Dezfool',_34),
 x_('Abadan',_'Dezfool',_35),
 x_('Abadan',_'Dezfool',_36),
 x_('Abadan',_'Dezfool',_37),
 x_('Abadan',_'Dezfool',_38),
 x_('Abadan',_'Dezfool',_39),
 x_('Abadan',_'Dezfool',_4),
 x_('Abadan',_'Dezfool',_40),
 x_('Abadan',_'Dezfool',_41),
 x_('Abadan',_'Dezfool',_42),
 x_('Abadan',_'Dezfool',_43),
 x_('Abadan',_'Dezfool',_5),
 x_('Abadan',_'Dezfool',_6),
 x_('Abadan',_'Dezfool',_7),
 x_('Abadan',_'Dezfool',_8),
 x_('Abadan',_'Dezfool',_9),
 x_('Abadan',_'Gachsaran',_0),
 x_('Abadan',_'Gachsaran',_1),
 x_('Abadan',_'Gachsaran',_10),
 x_('Abadan',_'Gachsaran',_11),
 x_('Abadan',_'Gachsaran',_12),
 x_('Abadan',_'Gachsaran',_13),
 x_('Abadan',_'Gachsaran',_14),
 x_('Abadan',_'Gachsaran',_15),
 x_('Abadan',_'Gachsaran',_16),
 x_('Abadan',_'Gachsaran',_17),
 x_('Abadan',_'Gachsaran',_18),
 x_('Abadan',_'Gachsaran',_19),
 x_('Abadan',_'Gachsaran',_2),
 x_('Abadan',_'Gachsaran',_20),
 x_('Abadan',_'Gachsaran',_21),
 x_('Abadan',_'Gachsaran',_22),
 x_('Abadan',_'Gachsaran',_23),
 x_('Abadan',_'Gachsaran',_24),
 x_('Abadan',_'Gachsaran',_25),
 x_('Abadan',_'Gachsaran',_26),
 x_('Abadan',_'Gachsaran',_27),
 x_('Abadan',_'Gachsaran',_28),
 x_('Abadan',_'Gachsaran',_29),
 x_('Abadan',_'Gachsaran',_3),
 x_('Abadan',_'Gachsaran',_30),
 x_('Abadan',_'Gachsaran',_31),
 x_('Abadan',_'Gachsaran',_32),
 x_('Abadan',_'Gachsaran',_33),
 x_('Abadan',_'Gachsaran',_34),
 x_('Abadan',_'Gachsaran',_35),
 x_('Abadan',_'Gachsaran',_36),
 x_('Abadan',_'Gachsaran',_37),
 x_('Abadan',_'Gachsaran',_38),
 x_('Abadan',_'Gachsaran',_39),
 x_('Abadan',_'Gachsaran',_4),
 x_('Abadan',_'Gachsaran',_40),
 x_('Abadan',_'Gachsaran',_41),
 x_('Abadan',_'Gachsaran',_42),
 x_('Abadan',_'Gachsaran',_43),
 x_('Abadan',_'Gachsaran',_5),

In [ ]:
for v in model.variables():
    if v.varValue == 1:
        print(v.name)

x_('Ahvaz',_'Tehran',_16)
x_('Ahvaz',_'Tehran',_35)
x_('Ahvaz',_'Tehran',_5)
x_('Bandar_e_abbas',_'Tehran',_18)
x_('Bandar_e_abbas',_'Tehran',_32)
x_('Isfahan',_'Mashhad',_20)
x_('Kerman',_'Mashhad',_7)
x_('Kish_island',_'Mashhad',_25)
x_('Kish_island',_'Shiraz',_0)
x_('Kish_island',_'Tehran',_30)
x_('Mashhad',_'Tehran',_12)
x_('Mashhad',_'Tehran',_14)
x_('Mashhad',_'Tehran',_21)
x_('Mashhad',_'Tehran',_26)
x_('Mashhad',_'Tehran',_28)
x_('Mashhad',_'Tehran',_3)
x_('Mashhad',_'Tehran',_37)
x_('Mashhad',_'Tehran',_39)
x_('Mashhad',_'Tehran',_41)
x_('Mashhad',_'Tehran',_43)
x_('Mashhad',_'Tehran',_8)
x_('Shiraz',_'Tehran',_1)
x_('Shiraz',_'Tehran',_10)
x_('Shiraz',_'Tehran',_23)
x_('Tehran',_'Ahvaz',_15)
x_('Tehran',_'Ahvaz',_4)
x_('Tehran',_'Bandar_e_abbas',_17)
x_('Tehran',_'Bandar_e_abbas',_31)
x_('Tehran',_'Isfahan',_19)
x_('Tehran',_'Kerman',_6)
x_('Tehran',_'Kish_island',_24)
x_('Tehran',_'Kish_island',_29)
x_('Tehran',_'Mashhad',_11)
x_('Tehran',_'Mashhad',_13)
x_('Tehran',_'Mashhad',_2)
x_('Tehran',_'Mashhad',_27)
x_('Tehran',_'Mashhad',_36)
x_('Tehran',_'Mashhad',_38)
x_('Tehran',_'Mashhad',_40)
x_('Tehran',_'Mashhad',_42)
x_('Tehran',_'Shiraz',_22)
x_('Tehran',_'Shiraz',_9)
x_('Tehran',_'Urmia',_33)
x_('Urmia',_'Ahvaz',_34)

In [ ]:
output = []
for origin, destination, time in x:
    var_output = {
        'origin': origin,
        'destination': destination,
        'time': time,
        'result': x[(origin, destination, time)].varValue,
    }
    output.append(var_output)

In [ ]:
output_df = pd.DataFrame.from_records(output).sort_values(['time'])

In [ ]:
output_df

           origin   destination  time  result
0          Abadan        Abadan     0     0.0
7744     Asalooye        Jiroft     0     0.0
109384      Urmia        Shiraz     0     0.0
69124     Maraghe      Bojnourd     0     0.0
69168     Maraghe       Dezfool     0     0.0
...           ...           ...   ...     ...
77439   Pars abad        Sirjan    43     0.0
77395   Pars abad        Shiraz    43     0.0
77351   Pars abad  Shahr-e kord    43     0.0
77263   Pars abad      Sanandaj    43     0.0
118975    Zahedan       Zahedan    43     0.0

[118976 rows x 4 columns]

In [ ]:
final = output_df[output_df['result']==1].reset_index()

In [ ]:
final

     index          origin     destination  time  result
0    61336     Kish island          Shiraz     0     1.0
1    98121          Shiraz          Tehran     1     1.0
2   106614          Tehran         Mashhad     2     1.0
3    72955         Mashhad          Tehran     3     1.0
4   105296          Tehran           Ahvaz     4     1.0
5     4317           Ahvaz          Tehran     5     1.0
6   106222          Tehran          Kerman     6     1.0
7    51707          Kerman         Mashhad     7     1.0
8    72960         Mashhad          Tehran     8     1.0
9   107105          Tehran          Shiraz     9     1.0
10   98130          Shiraz          Tehran    10     1.0
11  106623          Tehran         Mashhad    11     1.0
12   72964         Mashhad          Tehran    12     1.0
13  106625          Tehran         Mashhad    13     1.0
14   72966         Mashhad          Tehran    14     1.0
15  105307          Tehran           Ahvaz    15     1.0
16    4328           Ahvaz          Tehran    16     1.0
17  105485          Tehran  Bandar-e abbas    17     1.0
18   13482  Bandar-e abbas          Tehran    18     1.0
19  106059          Tehran         Isfahan    19     1.0
20   42568         Isfahan         Mashhad    20     1.0
21   72973         Mashhad          Tehran    21     1.0
22  107118          Tehran          Shiraz    22     1.0
23   98143          Shiraz          Tehran    23     1.0
24  106416          Tehran     Kish island    24     1.0
25   60877     Kish island         Mashhad    25     1.0
26   72978         Mashhad          Tehran    26     1.0
27  106639          Tehran         Mashhad    27     1.0
28   72980         Mashhad          Tehran    28     1.0
29  106421          Tehran     Kish island    29     1.0
30   61542     Kish island          Tehran    30     1.0
31  105499          Tehran  Bandar-e abbas    31     1.0
32   13496  Bandar-e abbas          Tehran    32     1.0
33  107349          Tehran           Urmia    33     1.0
34  107614           Urmia           Ahvaz    34     1.0
35    4347           Ahvaz          Tehran    35     1.0
36  106648          Tehran         Mashhad    36     1.0
37   72989         Mashhad          Tehran    37     1.0
38  106650          Tehran         Mashhad    38     1.0
39   72991         Mashhad          Tehran    39     1.0
40  106652          Tehran         Mashhad    40     1.0
41   72993         Mashhad          Tehran    41     1.0
42  106654          Tehran         Mashhad    42     1.0
43   72995         Mashhad          Tehran    43     1.0

In [ ]:
merge = final.merge(slice, on = ['origin', 'destination', 'time'], how = 'left')

In [ ]:
schedule = merge[['date','span','time','origin','destination','ticket']]

In [ ]:
schedule

          date  span  time          origin     destination  ticket
0          NaN   NaN     0     Kish island          Shiraz     NaN
1   2020-01-01   2.0     1          Shiraz          Tehran    43.0
2   2020-01-01   3.0     2          Tehran         Mashhad    29.0
3   2020-01-01   4.0     3         Mashhad          Tehran    49.0
4   2020-01-01   5.0     4          Tehran           Ahvaz    64.0
5   2020-01-01   6.0     5           Ahvaz          Tehran    69.0
6          NaN   NaN     6          Tehran          Kerman     NaN
7   2020-01-02   3.0     7          Kerman         Mashhad    14.0
8   2020-01-02   4.0     8         Mashhad          Tehran    51.0
9   2020-01-02   5.0     9          Tehran          Shiraz    40.0
10  2020-01-02   6.0    10          Shiraz          Tehran    62.0
11         NaN   NaN    11          Tehran         Mashhad     NaN
12  2020-01-03   2.0    12         Mashhad          Tehran    24.0
13  2020-01-03   3.0    13          Tehran         Mashhad    96.0
14  2020-01-03   4.0    14         Mashhad          Tehran    33.0
15  2020-01-03   5.0    15          Tehran           Ahvaz    64.0
16  2020-01-03   6.0    16           Ahvaz          Tehran   132.0
17  2020-01-04   2.0    17          Tehran  Bandar-e abbas    61.0
18  2020-01-04   3.0    18  Bandar-e abbas          Tehran    56.0
19         NaN   NaN    19          Tehran         Isfahan     NaN
20  2020-01-04   5.0    20         Isfahan         Mashhad    12.0
21  2020-01-04   6.0    21         Mashhad          Tehran    89.0
22         NaN   NaN    22          Tehran          Shiraz     NaN
23  2020-01-05   2.0    23          Shiraz          Tehran    46.0
24  2020-01-05   3.0    24          Tehran     Kish island    28.0
25  2020-01-05   4.0    25     Kish island         Mashhad    17.0
26  2020-01-05   5.0    26         Mashhad          Tehran    58.0
27  2020-01-05   6.0    27          Tehran         Mashhad    33.0
28  2020-01-06   2.0    28         Mashhad          Tehran    64.0
29  2020-01-06   3.0    29          Tehran     Kish island    15.0
30  2020-01-06   4.0    30     Kish island          Tehran    53.0
31  2020-01-06   5.0    31          Tehran  Bandar-e abbas    67.0
32  2020-01-06   6.0    32  Bandar-e abbas          Tehran    63.0
33  2020-01-07   2.0    33          Tehran           Urmia    10.0
34         NaN   NaN    34           Urmia           Ahvaz     NaN
35  2020-01-07   4.0    35           Ahvaz          Tehran    49.0
36  2020-01-07   5.0    36          Tehran         Mashhad    10.0
37  2020-01-07   6.0    37         Mashhad          Tehran    81.0
38         NaN   NaN    38          Tehran         Mashhad     NaN
39  2020-01-08   2.0    39         Mashhad          Tehran    40.0
40  2020-01-08   3.0    40          Tehran         Mashhad    26.0
41  2020-01-08   4.0    41         Mashhad          Tehran    62.0
42  2020-01-08   5.0    42          Tehran         Mashhad    15.0
43  2020-01-08   6.0    43         Mashhad          Tehran    73.0

In [ ]:
print('objective=', value(model.objective))

objective= 1250.0